@import _colors
@import _const

*
    padding: 0
    margin: 0
    overflow: hidden
    user-select: none
    font-family: "Helvetica Neue"

body
    background: $backgtoundColor

.curtain
    width: 100vw
    height: 100vh
    background: $primaryColor
    opacity: 0
    display: none
    position: absolute
    top: 0
    left: 0
    z-index: 10
    transition: .5s

    .logo
        position: absolute
        top: 10%
        left: 50%
        height: 7%

    h1
        font-size: 15vh
        line-height: 14vh
        text-align: center
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: $primaryColor


    img 
        height: 60%
        position: absolute
        top: 40%
        left: 50%
        transform: translate(-50%, -50%)

    &.hi
        background: $backgtoundColor
        opacity: 1

        h1
            color: $primaryColor
            animation: 1s opacity

        img
            animation: 1s opacity

        .click
            font-size: 20px
            color: $primaryColor
            position: absolute
            bottom: 20px
            left: 50%
            transform: translateX(-50%)
            opacity: .7
                

    &.bye
        opacity: 1
        transition: .5s

        h1
            color: $backgtoundColor

.wrap
    width: 100vw
    height: 100vh
    position: relative

.pseudoball
    width: unset
    z-index: 20
    height: calc(94vh / 5 * 0.6)
    margin-top: calc(94vh / 5 * 0.26)
    margin-left: calc(94vh / 5 * 0.6 * 0.798 / 2)
    transition: .8s
    position: absolute
    pointer-events: none

.snowWrap
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 6
    pointer-events: none
            

.exit
    position: absolute
    bottom: 20px
    right: 20px
    font-size: 25px
    cursor: pointer
    color: $primaryColor
    font-family: "Helvetica Neue"
    outline: none
    background: none
    border: none

.mark
    font-size: 14px
    color: black
    opacity: .4
    position: absolute
    bottom: 10px
    left: 5px

.mute
    height: 4vh
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer
    z-index: 3

.app
    height: 94vh
    margin-top: 3vh
    width: 100vw
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    overflow: visible

    .tryto
        color: $primaryColor
        font-size: 1.7vh
        opacity: .7
        position: absolute
        top: 0
        left: calc( 50% -  90vh / 5 * 4 / 2 - 10px)
        transform: translateX(-50%)
        font-family: "Helvetica Neue"

    .house
        flex: 1
        display: flex
        flex-direction: row
        justify-content: center
        position: relative
        perspective: 5000px
        height: 90vh
        overflow: visible
        margin-top: 2vh

        .puzle
            width: calc( 90vh / 5 * 4 )
            position: absolute
            top: 0
            right: 10px
            // transform: translateY(-50%)
            z-index: 2
            opacity: 1
            font-family: "Helvetica Neue"
            height: max-content
            font-size: 15vh
            color: white
            text-align: center
        
        .logo
            position: absolute
            z-index: 2
            top: calc( 90vh / 5 * 4 + 90vh / 5 / 2)
            right: calc(90vh / 5 * 4 - 90vh / 5 )
            width: calc( 90vh / 5 * 0.5)
            transform: translate(-60%, -50%)

        
        .window
            position: absolute
            height: calc(90vh / 5)
            transform: rotateY(0deg)
            opacity: 1
            transform-origin: right center
            z-index: 3
            cursor: pointer

            &.substrate
                z-index: 1

            &.ball
                width: unset
                z-index: 2
                height: calc(94vh / 5 * 0.6)
                margin-top: calc(94vh / 5 * 0.26)
                margin-right: calc(94vh / 5 * 0.6 * 0.798 / 2)
                right: inherit
                top: inherit
                transition: .8s

        @keyframes open
            0%
                opacity: 1
                transform: rotateY(0deg)
            70%
                opacity: .8
                transform: rotateY(89deg)
            100%
                opacity: 0
                transform: rotateY(89deg)
                

    .tree
        flex: 1
        display: flex
        flex-direction: row
        justify-content: left
        position: relative
        box-sizing: content-box
        overflow: visible

        .clickOnBalls
            color: $primaryColor
            font-size: 1.7vh
            opacity: .7
            position: absolute
            bottom: 0
            left: calc(100px + 0.5799901 * 90vh / 2)
            transform: translate(-50%, 100%)
            font-family: "Helvetica Neue"
            opacity: 0
            transition: .7s

        .face
            height: 100%
            margin-left: 100px
        
        .ball
            position: absolute
            width: calc( 94vh * 0.5799901 / 6)
            z-index: 2
            left: 0
            top: 0
            cursor: pointer
            transition: .5s

.fade-enter, .fade-appear 
    opacity: 0
    display: block

.fade-enter-active, .fade-appear-active 
    opacity: .6
    transition: .5s

.fade-enter-done, .fade-appear-done 
    opacity: .6
    display: block

.fade-exit 
    opacity: .6
    display: block

.fade-exit-active 
    opacity: 0
    transition: .5s
    display: block

.fade-exit-done 
    opacity: 0
    display: none

.bump-enter, .bump-appear 
    transform: translateY(-100%)
    display: block

.bump-enter-active, .bump-appear-active 
    transform: translateY(0)
    transition: .8s

.bump-enter-done, .bump-appear-done 
    transform: translateY(0)
    display: block

.bump-exit 
    transform: translateY(0)
    display: block

.bump-exit-active 
    transform: translateY(-100%)
    transition: .8s
    display: block

.bump-exit-done 
    transform: translateY(-100%)
    display: none

@keyframes opacity
    0%
        opacity: 0
    100%
        opacity: 1

// MOBILE

.portrait
    width: 100vw
    height: 100vh
    background: $backgtoundColor

    img
        width: 50%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-30%, -70%)

    .logo
        top: 5%
        width: 10%
        transform: translate(-40%, 0)

.mobile

    .mark
        font-size: 1.2vh   
        left: 20px

    .house
        flex: 6

    .tree
        flex: 4
        height: 80vh
        margin-top: 6vh

        .face
            margin-left: 8px

        .clickOnBalls
            left: calc(8px + 0.5799901 * 80vh / 2)

        .ball
            width: calc( 80vh * 0.5799901 / 6)

    .tryto
        left: calc( 60vw  - 90vh / 5 * 4 / 2)
        transform: translateX(-50%)
        font-size: 2.5vh
        top: -1vh

    .exit
        font-size: 3.5vh
